LIQUIBASE = {
	'url' : 'jdbc:mysql://localhost:3306/DB_WE_WANT_TO_CREATE_DIFF_FOR',
	'driver' : 'com.mysql.jdbc.Driver',
	'classpath' : 'mysql-connector-java-5.1.45.jar',
	'username' : 'USER',
	'password' : 'PASS',
	
	# Required Diff Parameters
	'referenceUsername' : 'USER',
	'referencePassword' : 'PASS',
	'referenceUrl' :  'jdbc:mysql://localhost:3306/DB_WITH_CHANGES'
}