LIQUIBASE = {
	'url' : 'jdbc:postgresql://localhost:5432/DB_WE_WANT_TO_CREATE_DIFF_FOR',
	'driver' : 'org.postgresql.Driver',
	'classpath' : 'postgresql.jar',
	'username' : 'postgresql',
	'password' : '',
	
	# Required Diff Parameters
	'referenceUsername' : 'postgresql',
	'referencePassword' : '',
	'referenceUrl' : 'jdbc:postgresql://localhost:5432/DB_WITH_CHANGES',
	# 'referenceDriver' : 'org.postgresql.Driver',
	
	# Migration file
	# 'changeLogFile': 'changeLogFile.xml'
}